<div class="row  page-header">
    <div class="col-sm-11 col-md-11">
        <h1>
            <span class="text-left">Welcome {{$parent.currentUser.name}}, </span>
        </h1>
    </div>
    <div class="col-sm-1 col-md-1">
        <h1>
            <span class="text-right"><a href="#/login" class="btn btn-danger">logout</a></span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h1>Select from the list of questions::</h1>
    </div>
    <div class="col-sm-12 col-md-12">

    </div>
    <div class="col-sm-12 col-md-12">
        <div id="questionContentWrapper">
            <ul ng-repeat="quest in questions">
                <li><input type="checkbox" ng-model="quest.check" ng-change="toggleSelectionCounter(quest)"> {{quest.question}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 text-center">
        <br/>
        <button class="btn btn-primary text-center">Add <span class="badge">{{selectedQuestionCount}}</span></button>
    </div>
</div>